<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
 <context-param>
    <param-name>sqlproperties</param-name>
    <param-value>/WEB-INF/sql.properties</param-value>
 </context-param>
 <error-page>  
 	<exception-type>java.lang.Exception</exception-type>  
 	<location>/include/errorPage.jsp</location>  
  </error-page>
  <servlet>
	<servlet-name>CrearReservaIndividual</servlet-name>
	<servlet-class>servlet.user.CrearReservaIndividual</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearReservaIndividual</servlet-name>
    <url-pattern>/ReservaIndividual</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>CancelarReservaIndividual</servlet-name>
	<servlet-class>servlet.user.CancelarReservaIndividual</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelarReservaIndividual</servlet-name>
    <url-pattern>/CancelarReservaIndividual</url-pattern>
  </servlet-mapping>
   <servlet>
	<servlet-name>CancelarReservaBono</servlet-name>
	<servlet-class>servlet.user.CancelarReservaBono</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelarReservaBono</servlet-name>
    <url-pattern>/CancelarReservaBono</url-pattern>
  </servlet-mapping>
   <servlet>
	<servlet-name>BorrarReservaBono</servlet-name>
	<servlet-class>servlet.admin.BorrarReservaBono</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrarReservaBono</servlet-name>
    <url-pattern>/BorrarReservaBono</url-pattern>
  </servlet-mapping>
   <servlet>
	<servlet-name>CancelarBono</servlet-name>
	<servlet-class>servlet.user.CancelarBono</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelarBono</servlet-name>
    <url-pattern>/CancelarBono</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>ConsultarReservas</servlet-name>
	<servlet-class>servlet.user.ConsultarReservas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultarReservas</servlet-name>
    <url-pattern>/ConsultarReservas</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>CrearKart</servlet-name>
	<servlet-class>servlet.admin.CrearKart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearKart</servlet-name>
    <url-pattern>/CrearKart</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>CrearPista</servlet-name>
	<servlet-class>servlet.admin.CrearPista</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearPista</servlet-name>
    <url-pattern>/CrearPista</url-pattern>
  </servlet-mapping>
   <servlet>
	<servlet-name>AsociarKartPista</servlet-name>
	<servlet-class>servlet.admin.AsociarKartPista</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AsociarKartPista</servlet-name>
    <url-pattern>/AsociarKartPista</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>ConsultarPistas</servlet-name>
	<servlet-class>servlet.user.ConsultarPistas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultarPistas</servlet-name>
    <url-pattern>/ConsultarPistas</url-pattern>
  </servlet-mapping>
<servlet>
	<servlet-name>ModificarEstadoKart</servlet-name>
	<servlet-class>servlet.admin.ModificarEstadoKart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarEstadoKart</servlet-name>
    <url-pattern>/ModificarEstadoKart</url-pattern>
  </servlet-mapping>
<servlet>
	<servlet-name>ModificarEstadoPista</servlet-name>
	<servlet-class>servlet.admin.ModificarEstadoPista</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarEstadoPista</servlet-name>
    <url-pattern>/ModificarEstadoPista</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>BorrarReservaIndividual</servlet-name>
	<servlet-class>servlet.admin.BorrarReservaIndividual</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrarReservaIndividual</servlet-name>
    <url-pattern>/BorrarReservaIndividual</url-pattern>
  </servlet-mapping>
   <servlet>
	<servlet-name>CrearBono</servlet-name>
	<servlet-class>servlet.user.CrearBono</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearBono</servlet-name>
    <url-pattern>/CrearBono</url-pattern>
  </servlet-mapping>
   <servlet>
	<servlet-name>CrearBonoReserva</servlet-name>
	<servlet-class>servlet.user.CrearBonoReserva</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearBonoReserva</servlet-name>
    <url-pattern>/ReservaBono</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>ModificarReservaIndividual</servlet-name>
	<servlet-class>servlet.user.ModificarReservaIndividual</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarReservaIndividual</servlet-name>
    <url-pattern>/ModificarReservaIndividual</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>FuncionesUsuario</servlet-name>
	<jsp-file>/mvc/view/user/FuncionesUsuarioDisplay.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuncionesUsuario</servlet-name>
    <url-pattern>/FuncionesUsuario</url-pattern>
  </servlet-mapping>
   <servlet>
	<servlet-name>FuncionesAdministrador</servlet-name>
	<jsp-file>/mvc/view/admin/FuncionesAdministradorDisplay.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuncionesAdministrador</servlet-name>
    <url-pattern>/FuncionesAdministrador</url-pattern>
  </servlet-mapping>
</web-app>
